<!DOCTYPE html>
<html lang="en">
<head>

    {% include "head.jinja" %}
    <title>{% block title %} {% endblock %}</title>
    
</head>
<body>
    <header>
        <h1> <a href="{{ url_for("view_welcome_page") }}"> Cesc </a></h1>

    </header>

    {% include "nav.jinja" %}

    <main>

            {% block main%} {% endblock %} 

 
    </main>
    {% include "footer.jinja" %}
</body>
</html>