{% extends "_main.jinja" %}

{% block title %}  Article not found {% endblock %}

{% block main %}
    <h1> Oooops!!</h1>
    <h2> Article doesn't exists</h2>

    <div>
        <a href="/" class="btn btn-primary bnt-lg">Home</a>
        <a href={{ url_for("view_articles") }} class="btn btn-primary bnt-lg">All articles</a>
    </div>
{% endblock %}