{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}

{% block main %}
Lorem ipsum dolor sit, amet consectetur adipisicing elit.
Mollitia ratione consectetur adipisci commodi voluptate iusto similique quisquam recusandae eum earum. 
Ipsam nulla vitae harum quos porro!
Aperiam reiciendis quisquam nisi.
{% endblock %}