<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/main.css")}}>
    <title>Welcome to Markdown blog</title>
    
</head>
<body>
    <header>
        <h1>Cesc</h1>

    </header>

    <nav>
        <ul class="nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
    </nav>

    <main>
        <blockquote>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Excepturi, eum corporis! 
            Dolorum pariatur dolorem ipsam totam aperiam. 
            In eligendi distinctio nisi, veniam molestias, commodi quasi laboriosam reiciendis perferendis ut magnam?
        </blockquote>
    </main>
    <footer>
        (c) 2021 opartl
    </footer>
</body>
</html>